<div class="o-flag" tabindex="0" (keydown.space)="setEditable()" (click)="setEditable()">
    <div class="o-flag__image">
            <img [ngClass]="{active: state.valid}" svg src="http://uat1-travel-insurance.theaa.local/membership3/assets/images/icons/memb_valid.svg" alt="">
            <img [ngClass]="{active: !state.valid && !state.placeholder}" svg src="http://uat1-travel-insurance.theaa.local/membership3/assets/images/icons/memb_details.svg" alt="">
            <img [ngClass]="{active: state.placeholder}" svg src="http://uat1-travel-insurance.theaa.local/membership3/assets/images/icons/memb_add.svg" alt="">
    </div>
    <div class="o-flag__body">
        <template [ngIf]="state.valid">
            <div tabindex="0" (keydown.space)="deleteMember($event)" (click)="deleteMember($event)" class="c-add_member_close">X</div>
            <div class="c-add_member_user_name">{{values.firstName}}</div>
            <div class="c-add_member_user_age">{{values.dateOfBirth|age}} years old</div>
            <button (click)="setEditable()" class="btn btn--yellow btn--expand c-add_member_button">Edit</button>
        </template>
        <template [ngIf]="!state.valid && !state.placeholder">
            <div tabindex="0" (keydown.space)="cancelMember($event)" (click)="cancelMember($event)" class="c-add_member_close">X</div>
            <!--<div tabindex="0" (keydown.space)="setEditable($event)" (click)="setEditable($event)" class="c-add_member_close">X</div>-->
            <form action="" [formGroup]="form" #f="ngForm" autocomplete="off">
                <form-component 
                    *ngFor="let field of fields" 
                    class="c-form-component--inline" 
                    [form]="form" 
                    [field]="field">
                </form-component>
            </form>
            <c-error-button [form]="form" (onContinue)="saveMember()"></c-error-button>
            <!--<button (click)="saveMember()" class="btn btn--yellow btn--expand c-add_member_button">Save</button>-->
        </template>
        <template [ngIf]="state.placeholder">
            <h4>Add Additional Member</h4>
            <h5><strong>{{data.price | pricefrequency: pricingFrequency }}</strong><br>extra per <span *ngIf="pricingFrequency==='monthly'">month</span><span *ngIf="pricingFrequency==='annual'">year</span></h5>
        </template>

    </div>
</div>
