//-------------------------------------
// Error Card
//-------------------------------------
.o-card.o-card--error {
	display: flex;
	flex-direction: column;

	h6 {
		margin-bottom: size(small);
		font-weight: 400;
	}
	.o-card__content {
		@include font-size(tiny);

		flex: 1 1 auto;
		float: left;
		padding: size(large) size(medium);
		width: 100%;
		background-color: $dark-gray;
		color: $light;

		header {
			display: flex;
			justify-content: space-between;
			margin-bottom: size(large);

			h2{
				flex: 1 1 auto;
				align-self: center;
				font-weight: 600;
			}
			img {
				flex: 1 1 60px;
				max-width: 60px;
				height:60px;
			}
		}
	}
	.o-card__actions {
		flex: 1 1 auto;
		padding: size(medium) size(medium);
		background-color:$dark-med-gray;
	}
}