//-------------------------------------
// Tab Groups
//-------------------------------------
c-tab-group {
    width: 100%;
    outline: none;

    .tab__header {
        @include display(flex);

        margin: size(large) 0;
    }
    .tab__link {
        flex: 1;
        min-height: 70px;
        outline: none;

        .btn--transparent {
            border-color: $dark;
            background-color: $dark;
            color: $dark-med-gray;
            text-decoration: none;

            &.active {
                border-color: $light;
                color: $light;
            }
        }
    }
}
//-------------------------------------
// Tab
//-------------------------------------

c-tab {
    outline: none;
}
