<section class="container--flex container--flex--center container--flex--nofooter">
    <div class="o-card o-card--center o-card--confirmation">
        <article *ngIf="!isPaymentTypeSet">
            <div class="o-card__title">
                <h4>Choose Your payment type</h4>
            </div>
            <div class="o-card__content">
                <button [outline]="{color:'primary'}" (onClick)="setPaymentType('Card')" class="btn btn--expand btn--outline btn--image">
                    <span>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="-1538 1728 20 16">
  					<path id="credit-card" class="cls-1" d="M20,8H4V6H20m0,12H4V12H20m0-8H4A1.993,1.993,0,0,0,2,6V18a2,2,0,0,0,2,2H20a2,2,0,0,0,2-2V6A2,2,0,0,0,20,4Z" transform="translate(-1540 1724)"/>
				</svg>
				Credit Card</span>
                </button>
                <button [outline]="{color:'primary'}" (onClick)="setPaymentType('Bank')" class="btn btn--expand btn--outline btn--image">
                    <span>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="-1544 1777 19 20">
						<path id="bank" class="cls-1" d="M11.5,1,2,5.762v1.9H21v-1.9m-5,3.81v6.667h3V9.571M2,21H21V18.143H2m8-8.571v6.667h3V9.571m-9,0v6.667H7V9.571Z" transform="translate(-1546 1776)"/>
						</svg>
					Bank Payment</span>
                </button>

            </div>
        </article>
        <article *ngIf="isPaymentTypeSet">
            <div class="o-card__title">
                <h4>Terms & Conditions</h4>
            </div>
            <div class="o-card__content">
                <ul class="o-list--plain" *ngIf="paymentType==='Card'">
                    <li><p>Please read and agree to the following terms and conditions: </p></li>
                    <li><p>The payment type for this credit/debit card is a reoccurring payment</p></li>
                    <li><p>If you proceed with this Membership you agree to pay by reoccurring card payment and authorise the AA to charge your credit/debit card for your Membership every month/year. This authorisation can be withdrawn by informing the AA of this prior to your renewal date.</p></li>
                    <li><p>Once complete, we will send a letter /email indicating the details of your credit / debit card payment with us.</p></li>
                    <li><p>Should you want to cancel your AA Membership at some point during the year, it will be subject to a €20 cancellation fee.</p></li>
                    <li><p>Before your renewal date, we'll send you your renewal price and confirm any changes to your cover that will take effect at renewal. Payment will be automatically taken from your card unless we hear from you.</p></li>
                </ul>
               
                <ul class="o-list--plain" *ngIf="paymentType==='Bank'">
                    <li>
                        <p>Please read and agree to the following terms and conditions:</p>
                    </li>
                    <li><p>Your bank account is an ROI bank account and can accept direct debits</p></li>
                    <li><p>Your bank account is not a joint account which requires two signatures for approval of transactions.</p></li>
                    <li><p>The payment type for this direct debit is reoccurring and you agree to authorise the AA to charge your bank account for your Membership every year. Once you complete this application we will send a letter/email indicating the details of your direct debit payment with us.</p></li>
                    <li><p>By submitting this form, you authorise AA Ireland Ltd. to send instructions to your bank to debit your account in accordance with the instruction from AA Ireland Ltd. As part of your rights, you are entitled to a refund issued by your bank, under the terms and conditions of your agreement with your bank. A refund must be claimed within 8 weeks starting from the date on which your account was debited. Your rights are explained in a statement that you can obtain from your bank.</p></li>
                    <li><p>Should you want to cancel your AA Membership at some point during the year, it will be subject to a €20 cancellation fee.</p></li>
                    <li><p>Before your renewal date, we'll send you your renewal price and confirm any changes to your cover that will take effect at renewal. Payment will be automatically taken from your bank account unless we hear from you.</p></li>
                </ul>
                <button [outline]="{color:'primary'}" (onClick)="continue()" class="btn btn--expand">I agree with the terms and conditions</button>
            </div>
        </article>

    </div>
</section>