<div class="c-fixed-nav__spacer"></div>
<nav class="c-fixed-nav__container">
    <button aria-label="Previous Section" tabindex="0" (click)="emitPrev()" class="btn bk--grey btn--expand">
        <div class="btn--stack">
            <div role="presentation" class="img_container">
                <img src="http://uat1-travel-insurance.theaa.local/membership3/assets/images/icons/arrow-alt-left.svg" alt="">
            </div>
        </div>
    </button>
    <button aria-label="Next Section" tabindex="0" (click)="emitNext()" class="btn bk--primary btn--expand" >
        <div class="btn--stack isInverse" >
            <div role="presentation" class="img_container">
                <img src="http://uat1-travel-insurance.theaa.local/membership3/assets/images/icons/arrow-alt-right.svg" alt="">
            </div>
        </div>
    </button>
</nav>
