//-------------------------------------
// Utils
//-------------------------------------

.bk--primary {
    background-color: $primary!important;
}

.bk--grey {
    background-color: $dark-gray!important;
}

.bk--dark-med-grey {
    background-color: $dark-med-gray!important;
}
.isVisible {
    display: block!important;
}

.isInvisible {
    opacity: 0;
    pointer-events: none;
}

.isHidden {
    display: none;
    opacity: 0;
}

.isMobile {
    @include media($lg-desktop) {
        display: none
    }
    @include media($desktop) {
        display: none
    }
    @include media($tablet) {
        display: none
    }
    @include media($tabletPortrait) {
        display: none
    }
    @include media($mobile) {
        display: block;
    }
}

.isNotMobile {
    @include media($lg-desktop) {
        display: block
    }
    @include media($desktop) {
        display: block
    }
    @include media($tablet) {
        display: block
    }
    @include media($tabletPortrait) {
        display: block
    }
    @include media($mobile) {
        display: \none;
    }
}

&.float--left {
    float: left;
}

&.float--right {
    float: right;
}

&.align--left {
    text-align: left!important;
}

.align--right {
    text-align: right!important;
}

.noPadding {
    padding-right: 0!important;
    padding-left: 0 !important;
}


iframe {
    border: 0;
}