//-------------------------------------
// Credit Card Form
//-------------------------------------
m-cc-form {
    @include media($mobile) {
        float: left;
        margin: 0 auto;
        min-width: 100%;
    }

    margin: auto;
    width: 600px;

    &.is-hidden {
        display: none;
    }
}

.o-cc_form {
    float: left;
    width: 100%;

    h4 {
        @include media($mobile) {
            @include font-size(medium);
        }

        margin-bottom: size(medium);
        color: $dark-med-gray;
        font-weight: 400;

        span {
            color: $light-med-gray;
        }
    }
    iframe {
        @include media($mobile) {
            min-height: 654px;
            width: 100%;
        }

        float: left;
        margin-bottom: size(medium);
        min-height: 600px;
        width: 600px;
        border: 0;
		background-color: $dark
    }
}